.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
}

main {
  display: flex;
  min-height: 75vh;
  font-size: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: black;
  color: white;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}


